<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Lib4NetLogPath" value="~/Config/Lib4NetLog.xml" />
    <add key="CacheConfigPath" value="~/Config/CacheConfig.xml"/>
    <!--小程序相关-->
    <add key="sAppId" value="wxc0ede2002e540ad0"/>
    <add key="sSecret" value="700c2c851b45f65712c63acf33be8b86"/>
    <add key="sToken" value="qx123456"/>
    <add key="template_id" value="GhAUVO5VkCQQxkVtI1uIb336OxaUFsDEWNK1h5dDKaI"/>
    <add key="sEncodingAESKey" value="BFIO943pc57dr0IjKe3GC7sQL0qa9TwVEAQaqEEbeNM"/>
    <add key="redisConn" value="server=192.168.106.106:16100,192.168.106.106:16200,192.168.106.106:16300,192.168.106.106:16400,192.168.106.107:16100,192.168.106.107:16200;max pooled size=10;" />
    <add key="domin" value="http://153h79422m.imwork.net"/>
  </appSettings>

  <connectionStrings>
    <add name="Oracle_Connect" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.5.210)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=Nbh_System;Password=123456;Pooling=true;Max Pool Size=20" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>

  <system.web>
    <httpRuntime  requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
